.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 50px;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  margin-left: 12%;
}
.btn {
  border: solid 1px gray;
  align-self: center;
  padding: 8px;
  font-size: 13px;
  margin-right: 10px;
}
.profile {
  border-radius: 20px;
  border: solid 1px;
  padding: 5px;
}
.avatar {
  width: 10%;
}
