@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  font-family: "General Sans", sans-serif;
}

.pick-question-btn {
  color: black;
  border-radius: 20px;
  padding: 5px;
}
.pick-question-btn:hover {
  background-color: rgb(29, 235, 29);
}

.main_content {
  margin-left: 20%;
  height: 2000px;
}

/* Font Poppins */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
